language: go
go:
 - 1.4
 - tip
install:
  - go get golang.org/x/tools/cmd/cover
  - go get github.com/mattn/goveralls
  - go get golang.org/x/tools/cmd/goimports
  - go get github.com/golang/lint/golint

script:
    - $GOPATH/src/github.com/awethome/server/scripts/test_coverage.sh
    - goveralls -coverprofile=$GOPATH/src/github.com/awethome/server/profile.cov -service=travis-ci