language: go
go:
 - 1.4
 - tip
install:
  - go get golang.org/x/tools/cmd/cover
  - go get github.com/mattn/goveralls
script:
    - $HOME/gopath/src/github.com/awethome/server/test_coverage.sh
    - $(go env GOPATH | awk 'BEGIN{FS=":"} {print $1}')/bin/goveralls -coverprofile=coverage.out -service=travis-ci -repotoken $COVERALLS_TOKEN
env:
    secure: "dR3rHSs/1t7bk55Zeiohefp8QZslmvzMU1psA0NWHR12QrHJobkhKaXRKvFP2QPeQhL0Lq9qjqyugpP6k61pADW7VGULl3O+ECdu1TLI6cacsU2VXJVwHx3O+Fv0/nxOwy0D81CKEWRDzBo2PgGBNVPLIyW0Gc1/Ks+Ja3/RV2HR8PBacDl0A/3FOnFk+LOjMxyLBo3w4UltOJGw8/MeJdWIQ5af3lpe/Rp8bKr0PmR6IOhsJYTc0mTZQDlqf+TV/gK7322FAtYn81RG60FKSbV/46axCFEHSiVpIxlO/3B3XTZC6N6NtDuZfHmq0vTvNcll7kb5Inaq0DC6nETbDGH6BWPQp/J/uCiO1yWMM6j60YzQY6EFPK0MFtSajJsU9+spWrhuDogI/0nZIg9qBk36i4OsMkoNOZLfgMrlt3M5+4WqBR+6rRB7jT/BHnEkhsBfJnGCx5xrpFl5Qgb13f2rt0zo5PEVGR6IRkezoF5uKurplwJsCuGl3mJV7nXmFjwocpm89/785sWVhJV8Y4O2ahXuRZ4nmSz6L/DKX8inTnlzKzx5enXnOKF97R+KJw0+CSfHqBCcVymhfkdZhJYAqZrfDeshqYVLblIPpcfi2W9BcRnlhB49iQ00Q3EVaJkkHnSPFPgRWBvduVlad1JVG6K5ndTKkfzua0nAiVM="